<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Angry Ducks | Speech Sentiment Text Recorder">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Ziran Gong's Team">
    <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico')}}">

    <title>Angry Ducks | A speech sentiment text recorder</title>


    {% block style %}

    {% endblock style %}

    <!-- core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>

  <body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container pt-0 pb-1">
    <a class="navbar-brand" href="#">
    <img  src="{{ url_for('static',filename='images/duck-logo.png')}}" style="height: 3.8rem" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarNavDropdown">
      <ul class="navbar-nav justify-content-end container-fluid">
          </li>
          <li class="nav-item text-right">
           <a class="nav-link" href="./">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="d-block d-md-none border-top border-top-1"></li>
          <li class="nav-item dropdown text-right">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          About
          </a>
          <div class="dropdown-menu text-right" aria-labelledby="navbarDropdownMenuLink">
                 <a class="dropdown-item" href="https://nature1995.club/about/">Ziran Gong</a>
                 <a class="dropdown-item" href="https://github.com/zfz">Fangzhou Zhang</a>
                 <a class="dropdown-item" href="https://github.com/zzdqqqq">Zidong Zhang</a>
                 <a class="dropdown-item" href="https://github.com/zlaomin">Yuchen Zeng</a>
          </div>

      </ul>
    </div>
    </div>
    </nav>
  <br>

  {% block content %}

  {% endblock content %}

    <section id="footer_nav" class="bg-light mt-4">
    <div class="container pt-0 pb-1">
        <dl class="row mb-0">
            <div class="col-sm">
                <dt class="mb-1 mt-2">Topics</dt>
                <dd class="mb-0">
                    <a class="text-dark" href="./">
                        Angry Ducks</a>
                </dd>
             </div>
            <div class="col-sm">
                <dt class="mb-1 mt-2">About Us</dt>
                <dd class="mb-0">
                     <a class="text-dark" href="https://nature1995.club/about/">Ziran Gong&nbsp;</a><br>
                     <a class="text-dark" href="https://github.com/zfz">Fangzhou Zhang&nbsp;</a><br>
                     <a class="text-dark" href="https://github.com/zzdqqqq">Zidong Zhang&nbsp;</a><br>
                     <a class="text-dark" href="https://github.com/zlaomin">Yuchen Zeng&nbsp;</a>
                </dd>
            </div>
        </dl>
    </div>
    </section>
<br>
    <footer class="text-muted">
        <p align="center"> ©2019&nbsp;&nbsp;Angry Ducks<br>
        <a align="center" class="text-muted" href="http://www.miitbeian.gov.cn/"> All Rights Reserved.</a></p>
    </footer>

    <!-- core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

  {% block scripts %}

  {% endblock scripts %}
</html>




